<%= render 'layouts/header' %>
 <h2>投稿フォーム</h2>
 <%= form_with model: @infomation, local:true do |f| %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>
  <h4>カード名</h4>
  <%= f.text_field :title %>
  <h4>コスト</h4>
  <%= f.text_field :cost %>
  <h4>攻撃力</h4>
  <%= f.text_field :attack %>
  <h4>体力</h4>
  <%= f.text_field :health %>
  <h4>効果</h4>
  <%= f.text_area :body %>
  <h4>進化後攻撃力</h4>
  <%= f.text_field :e_attack %>
  <h4>進化後体力</h4>
  <%= f.text_fiele :e_health %>
  <h4>進化後効果</h4>
  <%= f.text_area :e_body %>
  <%= f.submit '投稿' %>
 <% end %>
 <%= render 'layouts/footer' %>